$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 62.5%;
$bg-color-base: #0c365a;
$bg-color-widget: #EDF3FF;

$blue-color: #325BAF;
$blue-color-dark: #0C365A;
$white-color: #FFFFFF;
$green-color: #01D167;
$black-color: #222222;

$from-sm-screen:"only screen and (min-width : 576px)"; // use by @media #{$from-sm-screen}{}
$from-md-screen:"only screen and (min-width : 769px)";
$from-lg-screen:"only screen and (min-width : 992px)";
$from-xl-screen:"only screen and (min-width : 1200px)";
$to-sm-screen:"only screen and (max-width : 576px)";
$to-md-screen:"only screen and (max-width : 768px)";
$to-lg-screen:"only screen and (max-width : 992px)";
$to-xl-screen:"only screen and (max-width : 1200px)";
$to-xxl-screen:"only screen and (max-width : 1360px)";

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}