.desktop {
  .sidebar {
    height: 100%;
    background-color: $bg-color-base;
    &__info {
      padding: 48px;
      animation: displayFade ease 3s;
      .logo {
        min-width: 125px;
        height: auto;
        fill: $green-color;
      }
      .description {
        margin-top: 19px;
        display: block;
        opacity: 0.3;
        font-size: 1.5rem;
        color: $white-color;
        line-height: 1.35;
      }
      &--hidden {
        display: none;
      }
    }
  
    &__tabs {
      padding-left: 0;
      animation: displayFade ease-in 2s;
      .sidebar-item {
        display: flex;
        font-size: 1.6rem;
        gap: 16px;
        color: $white-color;
        font-weight: 400;
        padding: 32px 48px;
        cursor: pointer;
        &__logo {
          fill: $white-color;
        }
        &__logo:hover {
          fill: $green-color;
        }
      }
      .sidebar-item.router-link-exact-active {
        font-weight: 600 !important;
        color: $green-color;
        .sidebar-item__logo {
          fill: $green-color;
        }
      }
      .sidebar-item:hover {
        background-color: #092b49;
        font-weight: 400;
        color: $green-color;
        .sidebar-item__logo {
          fill: $green-color;
        }
      }
    }
  }
  @keyframes displayFade {
    from {
      display: none;
      opacity: 0;
    }
    to {
      opacity: 1;
      display: block;
    }
  }
  @media #{$to-lg-screen} {
    .sidebar {
      &__info {
        display: none;
        &--hidden {
          display: block;
          padding: 30px 10px 10px 10px;
          animation: displayFade ease-in 3s;
          .logo {
            width: 100%;
            height: auto;
            fill: $green-color;
          }
        }
      }
      &__tabs {
        .sidebar-item {
          padding: 32px;
        }
      }
    }
    .sidebar-item__title--hidden {
      display: none;
    }
  }
}