.content-wrapper {
  padding: 60px;
}

.app-btn {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 8px;
  height: 36px;
  background-color: $blue-color;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: $white-color;
  font-weight: 600;
  padding: 9px 12px;
}
.app-btn .normal{
  min-width: 109px;
}
.app-btn .full{

}

.modal-form {
  .title {
    font-size: 20px;
    padding: 15px 0;
    font-weight: 600;
  }
  .ant-form {
    .ant-form-item {
      margin-bottom: 8px;
      .ant-form-item-label {
        padding: 0;
        line-height: 1.5;
        >label {
          font-weight: 400;
          margin-bottom: 0;
          color: $blue-color-dark;
        }
      }
    }
  }
  .has-error {
    .inline-custom {
      display: inline-block;
      width: 100%;
    }
  }
  .off-error {
    .ant-form-item-children-icon,
    .ant-form-explain {
      display: none;
    }
  }
  .ant-modal-content {
    width: 410px;
    background: $white-color;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 32px;
    .ant-modal-body {
      padding: 0;
      margin-bottom: 25px;
      .ant-form {
        .ant-form-item {
          margin-bottom: 8px;
          .ant-form-item-label {
            padding: 0;
            line-height: 1.5;
            > label {
              font-weight: 400;
              margin-bottom: 0;
              color: $blue-color-dark;
            }
          }
        }
      }
    }
    .ant-modal-footer {
      padding: 0;
      border-top: none;
      button {
        width: 100%;
      }
    }
  }
  .btn-register {
    background: $blue-color;
    color: $white-color;
    border: 0;
    height: 34px;
  }
  .ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background-color: $blue-color;
    border-color: $blue-color;
  }
}