@import '../../base/variables';
.mobile {
  .card-page {
    background-color: $blue-color-dark;
    &__header {
      padding: 32px 24px;
      position: relative;
      .card-logo {
        position: absolute;
        top: 17px;
        right: 24px;
        height: 25px;
        width: auto;
        fill: $green-color;
      }
      .card-title {
        color: $white-color;
        font-size: 1.4rem;
        margin-bottom: 16px;
      }
      .card-figures {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .card-balance {
          display: flex;
          &__icon {
            width: 40px;
            height: 24px;
            border-radius: 4px;
            text-align: center;
            color: $white-color;
            font-size: 1.2rem;
            line-height: 1.9;
            font-weight: 600;
            &--active {
              background-color: $green-color;
            }
          }
          &__number {
            color: $white-color;
            margin-left: 12px;
            font-size: 2.6rem;
            font-weight: 600;
            line-height: 23px;
          }
        }
        .card-btn {
          display: flex;
          align-items: center;
          min-height: 20px;
          > * + * { margin-left: 6px;}
          &__logo {
            fill: #23CEFD;
          }
          &__label {
            font-size: 1.3rem;
            font-weight: 600;
            color: #23CEFD;
          }
        }
      }
    }
    &__content {
      .ant-tabs {
        overflow: visible;
        .ant-tabs-bar {
          padding: 0 24px;
          margin-bottom: 23px;
          border-bottom: none;
          .ant-tabs-nav-container {
            .ant-tabs-nav-wrap {
              .ant-tabs-nav {
                .ant-tabs-tab {
                  font-size: 1.3rem;
                  color: $white-color;
                  opacity: 0.5;
                  margin: 0 28px 0 0;
                  padding: 0;
                  padding-bottom: 6px;
                }
                .ant-tabs-tab-active {
                  font-weight: 600;
                  opacity: 1;
                }
                .ant-tabs-ink-bar {
                  background-color: #23CEFD;
                }
              }
            }
          }
        }
        .ant-tabs-content {
          .ant-tabs-tabpane {
            .debit-card {
              &__info {
                .card-list {
                  padding-bottom: 40px;
                  margin-bottom: 16px;
                }
                .card-action {
                  cursor: pointer;
                }
              }
              &__history {
                padding: 24px 24px 80px;
                background-color: $white-color;
              }
              .ant-row {
                margin-left: -23px !important;
                margin-right: -23px !important;
                .ant-col {
                  padding-left: 23px !important;
                  padding-right: 23px !important;
                }
              }
            }
          }
        }
        .card-carousel {
          margin-left: 24px;
          .slick-slide {
            padding-right: 16px;
            padding-top: 9px;
          }
          .slick-slide.slick-current {
            padding-top: 0px;
            .card-item-wrapper {
              .card-item {
                height: 220px;
                opacity: 1;
                background-color: $green-color;
                &--inactive {
                  background-color: #0B9464 !important;
                }
              }
              // .show-card {
              //   animation: showCardNumber ease-in 1s;
              // }
            }
          }
          .slick-list {
              // margin: 0 -12px;
              margin-left: -16px;
          }
          .custom-dot-class {
            bottom: -24px;
            li {
              width: 8px;
              height: 8px;
              margin: 0 4px;
              button {
                width: 8px;
                height: 8px;
                padding: 0;
              }
              button::before {
                content: "";
                background-color: $green-color;
                border-radius: 100%;
                opacity: 0.2;
                width: 8px;
                height: 8px;
              }
            }
            li.slick-active {
              width: 16px;
              button::before {
                background-color: $green-color;
                border-radius: 20px;
                opacity: 1;
                width: 16px;
              }
            }
          }
        }
      }
    }

    .card-item-wrapper {
      position: relative;
      // margin: 0 24px;
      .show-card-wrapper {
        .show-card {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $green-color;
          font-size: 1.2rem;
          font-weight: 500;
          cursor: pointer;
          width: 151px;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          background-color: $white-color;
          padding-top: 5px;
          padding-bottom: 20px;
          position: absolute;
          top: 0;
          right: 0;
          img {
            width: 16px;
            height: auto;
          }
          &__label {
            margin-left: 5px;
          }
        }
      }
      .card-item {
        position: relative;
        width: 414px;
        height: 200px;
        // background-color: #536DFF;
        // opacity: 0.5;
        background-color: #3052AC;
        border-radius: 10px;
        padding: 24px;
        width: 100%;
        margin-top: 26px;
        &__logo-wrapper {
          display: flex;
          justify-content: flex-end;
        }
        &__logo {
          max-width: 74px;
          height: auto;
          fill: $white-color;
        }
        &__name {
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 24px;
          color: $white-color;
          padding: 24px 0;
        }
        &__number {
          display: flex;
          align-items: center;
          margin-bottom: 12px;
          > * + * { margin-left: 28px;} // gap: 28px;
          .card-item-dot {
            display: flex;
            > * + * { margin-left: 7px;}
            .dot {
              border-radius: 50%;
              width: 8px;
              height: 8px;
              background-color: $white-color;
            }
          }
          .card-item-show {
            font-weight: 600;
            font-size: 1.4rem;
            letter-spacing: 3px;
            color: $white-color;
          }
        }
        &__date-cvv {
          display: flex;
          align-items: center;
          font-size: 1.3rem;
          color: $white-color;
          font-weight: 600;
          .card-date {
            display: flex;
            margin-right: 46px;
            &__label {
            }
            &__code {
              letter-spacing: 1.5px;
              margin-left: 5px;
            }
          }
          .card-cvv {
            display: flex;
            height: 20px;
            &__label {
              margin-right: 5px;
            }
            &__code {
              font-size: 2.4rem;
              line-height: 26px;
            }
          }
        }
        &__visa {
          max-width: 59px;
          position: absolute;
          bottom: 27px;
          right: 27px;
        }
      }
    }
    .card-action-wrapper {
      background-color: $bg-color-widget;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      padding: 20px 30px;
      // box-shadow: 0px 0px 4px #dee7fa;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .card-action {
        width: 60px;
        text-align: center;
        &__icon {
          margin-bottom: 7px;
        }
        &__label {
          font-size: 1.3rem;
          font-weight: 400;
          color: $blue-color-dark;
        }
      }
      .card-action:hover {
        .card-action__icon {
          opacity: 0.9;
        }
      }
    }
    .transaction {
      display: flex;
      position: relative;
      padding: 16px 0;
      border-bottom: 1px solid #F5F5F5;
      &__icon-wrapper {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        display: flex;
        margin-right: 12px;
        .icon {
          margin: auto;
        }
      }
      &__icon-wrapper.blue {
        background-color: #009DFF1A;
      }
      &__icon-wrapper.green {
        background-color: #00D6B51A;
      }
      &__icon-wrapper.red {
        background-color: #F251951A;
      }
      &__content {
        flex: 1;
        .transaction-info-wrapper {
          margin-bottom: 12px;
          .transaction-info {
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;
            margin-bottom: 4px;
            &__name {
              font-weight: 600;
            }
            &__balance {
              display: flex;
              font-weight: 600;
              > * + * { margin-left: 5px;}
            }
            &__balance--status {
              color: $green-color;
            }
          }
          .transaction-date {
            font-size: 1.3rem;
            font-weight: 400;
            color: #AAAAAA;
          }
        }
        .transaction-refund {
          display: flex;
          align-items: center;
          &__icon-wrapper {
            background-color: $blue-color;
            width: 24px;
            height: 20px;
            display: flex;
            border-radius: 45%;
            margin-right: 9px;
            .icon {
              margin: auto;
            }
          }
          &__label {
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 600;
            color: $blue-color;
          }
        }
      }
      &__collapse {
        position: relative;
        right: -8px;
        top: 5px;
        height: 100%;
      }
    }
    .transaction:last-child {
      border-bottom: none;
    }
  }
  @keyframes showCardNumber {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }

  }
}